﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="MinuVeebileht.aspx.cs" Inherits="Esimene_veeb.MinuVeebileht" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <asp:Button ID="Button1" runat="server" OnClick="Button1_Click" Text="Button" />
            <asp:Label ID="Label1" runat="server" Text="Label"></asp:Label>
        </div>
        <p>
            TERE</p>
        <p>
            &nbsp;</p>
        <asp:CatalogZone ID="CatalogZone1" runat="server">
        </asp:CatalogZone>
    </form>
</body>
</html>
